:root {
  --white: #ffffff;
  --black: #1a1a1a;
  --blue: #93bbea;
  --gray-100: #f9f9f9;
  --gray-200: #eeeeee;
  --gray-300: #dddddd;
  --gray-500: #949494;
  --green-300: #36ba5f;
  --green-400: #30a856;
  --green-500: #2c944d;
}
